h1 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.login {
    margin: 20px auto;
    max-width: 300px;
    border-radius: 10px;
    background: white;
}

.login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px;
    font-family: Raleway, sans-serif;
}

.login input[type=text],
.login input[type=password] {
    border: 1px solid #c0c0c0;
    transition: .2s;
}

.login input[type=text]:hover {
    border-color: black;
    outline: none;
    transition: all .2s ease-in-out;
}

.login input[type=submit] {
    border: none;
    background: green;
    color: white;
    font-weight: bold;
    transition: 0.2s;
    margin: 20px 0px;
    border-radius: 10px;
}

.login input[type=submit]:hover {
    background: green;
}

.login h2 {
    margin: 20px 0 0;
    color: black;
    font-size: 28px;
}

.login p {
    margin-bottom: 40px;
}

.links {
    display: table;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #c0c0c0;
    margin-bottom: 10px;
}

.links a {
    display: table-cell;
    padding-top: 10px;
}

.links a:first-child {
    text-align: left;
}

.links a:last-child {
    text-align: right;
}

.login h2,
.login p,
.login a {
    text-align: center;
}

.login a {
    text-decoration: none;
    font-size: .8em;
}

.login a:visited {
    color: inherit;
}

.login a:hover {
    text-decoration: underline;
}

.signup_link {
    margin-bottom: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}