.profilll {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 0;
}

.cards {
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.6);
    max-width: 300px;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 13px;

}

.cards img {
    width: 50%;
    border: 2px solid black;
    border-radius: 50%;
}

.designation {
    font-size: 16px;
}

.social {
    margin: 20px 0;
}

.cards a {
    font-size: 18px;
    padding: 7px 12px;
    text-decoration: none;
    background-color: #00305b;
    color: white;
    border-radius: 10px;
    margin: 0 3px;
}

.cards a:hover {
    background-color: #005bad;
}