/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* body {
    background-image: url(https://img.freepik.com/free-vector/realistic-summer-background-with-vegetation_23-2148998580.jpg?w=740&t=st=1684309561~exp=1684310161~hmac=e45bf16c6618e43dfad29aa425ab7c38594ec6620c7d2e543200db4e55477088);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

.kartu {
    background-color: aqua;
    padding-left: 50px;
    padding-right: 50px;
}

.kartu2 {
    background-color: aqua;
    padding-left: 50px;
    padding-right: 50px;

}

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}

.image {}